.main {
  padding: 1em 2em;
}
.results {
  display: flex;
  align-items: stretch;
  gap: 20px;
  margin: 3em auto 1em;
}
.actualResult {
  display: flex;
  align-items: center;
}
.leaflet-control-zoom.leaflet-bar.leaflet-control span {
  color: black;
}
@media screen and (max-width: 1250px) {
  .actualResult {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .results {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main {
    padding: 1em;
  }
  .forecastCards {
    width: 100% !important;
    flex-wrap: wrap;
  }
}
